.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #EDEDE9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #FFFFFF;
  color: #051321;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-logo {
  width: 6%;
  height: auto;
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.header-text {
  color: #243040;
  font-size: 16px;
}

.signup-button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #17ABCE;
  border-radius: 5px;
  padding: 10px 20px;
  color: #243040;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-out;
}

.signup-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container {
  width: 300px;
  height: 350px;
  max-width: 400px;
  padding: 20px;
  background-color: #FFFFFF;
  color: #051321;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.login-heading {
  text-align: center;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
}

.login-input {
  width: 90%;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #051321;
  color: #051321;
}

.login-input:focus,
.login-input:not(:placeholder-shown) {
  outline: none;
  border-color: #051321;
}

.login-label {
  font-size: 15px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 10px;
  color: #051321;
  pointer-events: none;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
  transform-origin: top left;
}

.login-input:focus ~ .login-label,
.login-input:not(:placeholder-shown) ~ .login-label {
  transform: translateY(-30px) scale(0.8);
}

.login-button {
    width: 100%;
    background-color: #17ABCE;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-out;
    margin-top: 20px; 
}

.login-button:hover {
  background-color: #1595B3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-label.error {
  transform: translateY(-18px);
  font-size: 12px;
}

.error-message {
  font-size: 14px;
  margin-top: 5px;
  color: red;
}

.form-error-message {
  font-size: 14px;
  margin-top: 10px;
  color: red;
}

.external-link {
  padding: 20px;
  cursor: pointer;
  border: none;
  background: none;
  color: #ACB4BD;
}

.footer {
  background-color: #FFFFFF;
  color: #051321;
  padding: 15px;
  text-align: left;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}